body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.decorative-divider {
  width: 10rem;
  height: 0.25rem;
  background: linear-gradient(to right, #ef4444, #a855f7);
  margin: 0 auto 3rem;
}
